.contenedor {
  background-color: rgb(2, 2, 99);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.anav {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.lo {
  height: 8rem;
  width: 8rem;
}
